.field--editor {

  .editor-content {
    display: relative;
    background:#fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 50%);
  }
  .ce-block__content {
    max-width: inherit;
    margin: 0 auto;
  }
  .ce-toolbar__content {
    max-width: inherit;
    margin: 0 auto;
  }
  .codex-editor{
    padding:1.5rem 2.5rem;
  }
  .ce-toolbar {
    padding:0 2.5rem;
  }
  .codex-editor__redactor {
    padding-bottom:4rem!important;
  }

}