@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap');

html {
    background: #292c30;
    color: #5c5edb;
    font-family: 'Poppins', sans-serif;
    body {
        padding: 1rem;

    }
}

a {
    text-decoration: none;
    color: #888;
    padding: 0 .3rem 0 0;

    &:hover {
        color: #bdbdbd;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        color: #bdbdbd;
    }
}

.infos {
    font-size: .8rem;
}

.linotype-helper {
    
}

.linotype-admin {

    .linotype-field {
        margin-bottom: 1rem;

        .title {
            margin-bottom: .4rem;
            font-size: .9rem;
        }

        .field {
            margin-bottom: .4rem;

            input {
                display: block;
                border: none;
                outline: none;
                margin: 0 0 .3rem 0;
                padding: .5rem;
            }
        }

        .desc {
            margin-bottom: .4rem;
            font-size: 0.8rem;
            font-style: italic;
            opacity: 0.5;
        }
    }

    button {
        border: none;
        padding: .5rem 1rem;
        outline: none;
        cursor: pointer;

        &:hover {
            background: #ddd;
        }
    }

    .message {
        display: inlin;
        background: grey;
        color: white;
        padding: 1rem;
        margin: 0 0 1rem 0;

        &.success {
            background: green;
            color: white;
        }

        &.error {
            background: red;
            color: white;
        }
    }

    .row {
        display: flex;

        .col {
            flex: 1;

            .inner {
                padding-right: 1rem;

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        margin-bottom: 1rem;

                        .name {
                            font-size: 1.2rem;
                            margin-bottom: 0.2rem;
                        }

                        .desc {
                            font-size: 1.1rem;
                            margin-bottom: 0.3rem;
                        }
                    }
                }
            }
        }
    }
    
}

.linotype-field {
    margin-bottom: 1rem;

    .title {
        margin-bottom: .4rem;
        font-size: .9rem;
    }

    .field {
        margin-bottom: .4rem;

        input {
            display: block;
            border: none;
            outline: none;
            margin: 0 0 .3rem 0;
            padding: .5rem;
        }
    }

    .desc {
        margin-bottom: .4rem;
        font-size: 0.8rem;
        font-style: italic;
        opacity: 0.5;
    }
}